.register {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      height: 100vh;
      flex: 7;
      background:
        url("https://cdn.dribbble.com/userupload/8432950/file/original-0c14504bd291054d76548cb015dff89a.png?resize=1024x768") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
    }

    .right {
      flex: 7;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      h1 {
        display: flex;
        color: black;
        font-size: 56px;
        line-height: 100px;
        align-content: center;
        justify-content: center;
        font-weight: bold;
      }

      h2{
        display: flex;
        color: black;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          border-radius: 8px;
        }

        button {
          margin-top: 20px;
          width: 50%;
          padding: 10px;
          border: none;
          background-color: black;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 8px;
        }

        .msg {
          font-size: 1.2em;
          text-align: center;
          color: #36a936;
        }
      }
      span{
        display: flex;
        align-content: center;
        justify-content: center;
      }

      .Login{
       color: #555;
       font-weight: bold;
      }
    }
  }
}