.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 1px;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;

  .top {
    display: flex;
    padding: 34px 98px;
    align-items: center;
    justify-content: space-between;

    .brand {
      display: flex;
      align-items: center;
      gap: 30px;

      .text {
        color: #000;

        /* Brand */
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      img {
        width: 56px;
        height: 56px;
      }
    }

    .menu {
      display: flex;
      align-items: flex-start;
      gap: 29px;

      button {
        color: #000;

        /* NavTitle */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .loginbtn {
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: #ffffff;
        border: hidden;
        cursor: pointer;
      }
    }
  }
}