.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: hidden;
    cursor: pointer;
    width: 250px;
    height: 70px;
    border-radius: 8px;
    padding: 15px;

    color: #6B6B6B;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: red;
    color: white;
}

.active {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: hidden;
    cursor: pointer;
    width: 250px;
    height: 70px;
    border-radius: 8px;
    padding: 15px;

    color: #6B6B6B;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;

    background-color: red;
    color: white;
}