.frame {
    background-color: #000000;
    border-radius: 8px;
    height: 60px;
    position: relative;
    width: 150px;
    cursor: pointer;

    .text-wrapper {
        color: #ffffff;
        font-family: "Inter-SemiBold", Helvetica;
        font-size: 24px;
        font-weight: 600;
        left: 30px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 15px;
        white-space: nowrap;
    }
}