.epoorderdetail {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .top {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 25px;

        .title {
            font-family: Poppins;
            font-size: 35px;
            font-weight: 700;
        }
    }

    .ordercontent {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            padding: 20px;
            gap: 500px;

            .header {
                font-size: 25px;
                font-weight: 700;

                span {
                    font-size: 25px;
                    font-weight: 400;
                }
            }

            .header1 {
                font-size: 20px;
                font-weight: 600;

                span {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }

    .content {
        padding: 20px;

        .peopleInfo {
            display: flex;
            flex-direction: row;
            gap: 540px;
        }

        .header {
            font-size: 25px;
            font-weight: 700;
        }
    }

    .action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 200px;

        .btn1 {
            margin-left: 400px;
            border-radius: 8px;
            background-color: #AE76F4;
            padding: 15px;
        }

        .text {
            font-weight: 600;
            color: white;
        }

        .btn2 {
            width: 250px;
            border-radius: 8px;
            background-color: #DC143C;
            padding: 15px;
        }
    }
}