.bdashboard {
    display: flex;
    flex-direction: column;
    background-color: rgba(178, 168, 171, 0.31);
    height: 100%;

    .top {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 75px;
        padding-right: 75px;
        background-color: #fff;

        .title {
            position: relative;
            color: #000;
            font-family: Poppins;
            font-size: 35px;
            font-weight: 800;
        }
    }

    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        flex-direction: column;
    }

    .content {
        flex: 8;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .branch {
            color: #000;
            font-family: Poppins;
            font-size: 25px;
            font-weight: 600;
        }
    }
}