.login {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 10;
      background:
        url("https://cdn.dribbble.com/userupload/8432950/file/original-0c14504bd291054d76548cb015dff89a.png?resize=1024x768") center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      height: 100vh;
    }

    .right {
      flex: 8;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: black;
        font-weight: bold;
        font-size: 56px;
        line-height: 100px;
        align-content: center;
        justify-content: center;
      }

      p{
        display: flex;
        font-size: 20px;
        line-height: 50px;
        align-content: center;
        justify-content: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        

        input {
          width: 100%;
          border: none;
          border-bottom: 2px solid lightgray;
          padding: 20px 10px;
          border-radius: 8px;
        }

        button {
          margin-top: 20px;
          width: 50%;
          padding: 10px;
          border: none;
          border-radius: 8px;
          background-color:black;
          color: white;
          font-weight: bold;
          cursor: pointer;
          align-items: center;
          justify-items: center;
          
        }
      }
      span{
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .signup {
        color: #555;
        font-weight: bold;     
      }
    }
  }
}