.container {
    padding-top: 10%;
    
    .form {
        width: 1000px;
        position: relative;
        
        p {
            color: black;
            font-size: 32px;
            font-family: Inter;
            font-style: normal;
            font-weight: 700;
            word-wrap: break-word;
            margin: auto;
            width: 50%;
            text-align: center;
            padding: 0.5rem;
        }
    
        .form-container {
            position: relative;
            padding: 1rem;
                .search-bar {
                    width: 100%;
                    padding: 1rem;
                    border-radius: 9999px;
                    background-color: rgb(226 232 240);
                    
                    ::placeholder {
                        font-family: Poppins;
                        font-weight: 400;
                        word-wrap: break-word;
                    }
                }
    
                .search-btn {
                    position: absolute;
                    height: 46px;
                    width: 46px;
                    right: 1.25rem;
                    top: 50%;
                    padding: 0.5rem;
                    transform: translateY(-50%);
                    border-radius: 9999px;
                    background-color: rgb(148 163 184);
                    
                    // :hover {
                        // background-color: rgb(30 41 59);
                    // }
                }
        }
    }
}