.sideBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
            background-size: cover;
            border-radius: 50%;
        }
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        gap: 45px;

        .option {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: transparent;
            border: hidden;
            cursor: pointer;
        }
    }
}