.inorder {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .top {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-left: 50px;

        .title {
            font-family: Poppins;
            font-size: 35px;
            font-weight: 700;
        }
    }

    .content {
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around
        }

        .confirmed {
            background-color: #B2A8AB;
            border-radius: 10px;
            padding: 15px;
        }

        .confirm {
            background-color: #BED754;
            border-radius: 10px;
            padding: 15px;
        }

        .cancel {
            background-color: #E3651D;
            border-radius: 10px;
            padding: 15px;
        }
    }
}